.location {
    color: blue;
    font-size: large;
    width: 100px;
    max-width: 100px;
}

.maps {
    width: 250px;
    max-width: 250px;
    max-height: 100px;
}

agm-map {
    height: 300px;
  }